<h1>Choose a Character</h1>

<form action="/prompt/Mickey+Mouse">
  <div>
    <label for="character_1_button"></label>
    <button class="learn-more" role="link" id="character_1_button">Mickey Mouse</button>
  </div>
</form>
<form action="/prompt/Donald+Duck">
  <div>
    <label for="character_2_button"></label>
    <button class="learn-more" role="link" id="character_2_button"">Donald Duck</button>
  </div>
</form>
<form action="/prompt/Goofy">
  <div>
    <label for="character_3_button"></label>
    <button class="learn-more" role="link" id="character_3_button"">Goofy</button>
  </div>
</form>
<form action="/prompt/Mario">
  <div>
    <label for="character_4_button"></label>
    <button class="learn-more" role="link" id="character_4_button"">Mario</button>
  </div>
</form>
<form action="/prompt/Luigi">
  <div>
    <label for="character_5_button"></label>
    <button class="learn-more" role="link" id="character_5_button"">Luigi</button>
  </div>
</form>
<form action="/prompt/Bowser">
  <div>
    <label for="character_6_button"></label>
    <button class="learn-more" role="link" id="character_6_button"">Bowser</button>
  </div>
</form>

<br>

<form action="/">
  <div>
    <label for="character_home_button"></label>
    <button class="learn-more" role="link" id="character_home_button">Home</button>
  </div>
</form>
