<div class="homepage_header">
  <p id="p-1">Welcome to the</p>
  <h1>GPTCharacterizer!</h1>
  <p id="p-2">Give a variety of characters different prompts to see what they say!</p>
</div>

<form action="/character/new">
  <div>
    <label for="homepage_character_button"></label>
    <button class="learn-more" role="link" id="homepage_character_button">Go to Characters</button>
  </div>
</form>

<!--<form action="/prompt/new">
  <div>
    <label for="homepage_prompt_button"></label>
    <button class="learn-more" role="link" id="homepage_prompt_button">Go to Prompt</button>
  </div>
</form>-->
