<h1>Enter a Prompt</h1>
<div class="prompt_wrapper">

  <form action="/results">
    <div class="form-control">
      <input type="value" required="" name="prompt_text">
      <label>
        <span style="transition-delay:0ms">E</span><span style="transition-delay:25ms">n</span><span style="transition-delay:50ms">t</span><span style="transition-delay:75ms">e</span><span style="transition-delay:100ms">r</span><span style="transition-delay:125ms"> </span><span style="transition-delay:150ms">P</span><span style="transition-delay:175ms">r</span><span style="transition-delay:200ms">o</span><span style="transition-delay:225ms">m</span><span style="transition-delay:250ms">p</span><span style="transition-delay:275ms">t</span>
      </label>
    </div>
  </form>

  <div class="item-hints">
    <div class="hint" data-position="4">
      <span class="hint-radius"></span>
      <span class="hint-dot">Tip</span>
      <div class="hint-content do--split-children">
        <p>Ask a question, give a command etc.</p>
      </div>
    </div>
  </div>

</div>

<br>

<form action="/">
  <div>
    <label for="prompt_home_button"></label>
    <button class="learn-more" role="link" id="prompt_home_button">Home</button>
  </div>
</form>
